body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 40px;
}

/* タイトル */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

/* 入力エリア */
.input-area{
    background: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-area input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* ボタン */
#add{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add:hover {
    opacity: 0.9;
}

/*　集計欄　*/
.summary{
    max-width: 400px;
    margin: 0 auto 20px;
    text-align: center;
}
.summary p {
    margin: 5px 0;
    font-weight: bold;
}

/*　一覧　*/
.list{
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}

.list li {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 削除ボタン */
#list li button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

#list li button:hover {
    opacity: 0.9;
}